@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-size: 20px;
    font-family:"Doto", serif;
}

header{
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 10px;
    background-color:#006a4e ;
}
.header{
    
    justify-content: center;
    position: sticky;
    top: 0;
    height: 50px;
    border-radius: 10px;  
}


.header nav ul {
    grid-template-columns: repeat(5,50px) ;
    grid-row: 1fr;
    column-gap: 10px;
    display: grid;
    justify-content: center; 
    /* align-items: center;  */
    /* height: 30px; 
    margin-bottom: 5px;
    padding: 0px; */
}
.header nav ul li{
    grid-row: 1/2;
    list-style: none;
    color: beige;
}

/* 
.header{
    background-color: #006a4e;
    color: black;
    position: sticky;
    top: 0; 
    height: 40px;
    /* padding: 10px;
    padding-bottom:20x ;
    padding-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px; 
    margin-bottom: 10px;
    padding-bottom: 10px;
    
    text-align: center;
    justify-content: center;
}

.header h1{
    float: left;
    margin-top: 5px;
}

.header nav{
    
    padding: 0 ;
    
}

.header nav ul {
    display: flex;
    justify-content: center; /* Center horizontally 
    align-items: center; /* Center vertically 
    height: 100%; /* Ensure the container takes the full height 
}

.header li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 19px;
    color: beige;
} */

#PixelArt{
    display: flex;
    margin-bottom: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    color: beige;
}

.Photo{
    background-image: url(../Scources/Intro1.0.gif);
    height: 500px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 10px;
}

.Photo h1{
    
    justify-content: center;
    padding-top: 30px;
    color: beige;
}

.P{
    width: 50%;
    text-align: center;
    justify-content: center;
    margin: 40px;
    
    
}
.P p{
    font-size: 18px; 
    line-height: 1.6;
     color: #333; 
     

      padding: 10px;
     border-left: 4px solid #006a4e;
     background-color: #f9f9f9;
     color: rgb(0, 0, 0);
     margin-left: 100px;
     margin-right: 80px;
    margin-top: 100px;
}

#About{
    height: 350px;
    margin-top: 50px;
    /* margin: auto;
    width: 100%;  */
   text-align: center;
}

#About h2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    
}

.Bar{
    border: 2px solid #006a4e;
    width: 30%;
}

.P1{
    display: inline-block;
    text-align: center;
    background-color: #006a4e;
    padding: 35px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 15%;
    height: 80px;
    /* height: 180px;مع صورة بدك تختار هذا */
    /* margin: 0.5%; */
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 1px 0 rgba(0, 0, 0, 0.5);
} 

.P1 h3{
    font-weight: bold;
    padding-bottom: 10px;
    color: beige;
}

#Contact {
    background-color: #006a4e;
    color: #f5f5f5;
    padding: 25px;
    text-align: center;
} 